.title{
    height: 100px;
    text-align: center;
    font-size: 2em;
}

.main{
    display:flex;
    justify-content: center;
}

.tools{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sketchContainer{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    display: grid;
}

.gridSize{
    display: block;
    text-align: center;
}

button{
    width: 75px;
}

button.setGrid{
    width: 120px;
    height: 21px;
}